{% extends "base.html" %}

{% block title %}
    {% if form.content %}
    Create Post
    {% else %}
    Create Task
    {% endif %}
{% endblock title %}

{% block main %}
<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">

        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div
                    class="card-header no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0 py-3 pb-2">Create</h3>
                </div>
            </div>
        </div> <!-- Row end  -->

        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="card p-xl-5 p-lg-4 p-0">
                    <div class="card-body">
                        <div class="mb-3 pb-3 border-bottom">
                            {% if form.content %}
                            Create Post here
                            {% else %}
                            Create Task here
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="table-responsive-sm">
                                    <table class="table table-striped">
                                        <tbody> <!-- The page handles creation for both tasks and posts  -->
                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="id_title" class="form-label">Title:</label>
                                                    {{ form.title }}
                                                </div>
                                                {% if form.content %}
                                                <div class="mb-3">
                                                    <label for="id_content" class="form-label">Content:</label>
                                                    {{ form.content }}
                                                </div>
                                                {% else %}
                                                <div class="mb-3">
                                                    <label for="id_description" class="form-label">Description:</label>
                                                    {{ form.description }}
                                                </div>
                                                <div class="mb-3">
                                                    <label for="id_deadline" class="form-label">Deadline:</label>
                                                    {{ form.deadline }}
                                                </div>
                                                <div class="mb-3">
                                                    <label for="id_status" class="form-label">Label:</label>
                                                    {{ form.status }}
                                                </div>
                                                {% endif %}
                                                <button type="submit" class="btn btn-primary">Create</button>
                                            </form>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}